///* ========================================================================
//   #GRID
//   ======================================================================== */

$gutter: 1rem;

@mixin grid($display: flex, $maw: 100%, $direction: row) {
    max-width: $maw;
    margin: 0 auto;
    display: $display;
    flex-wrap: wrap;
    flex-direction: $direction;

    @include mq(m) {
        display: block;
    }

    > [class^="column-"] {

        @include mq(m) {
            width: 100%;
        }
    }

    &.grid__gapless {
        > .column {
            margin: 0;
        }

        .column-1 {
            width: $one;

            @include mq(m) {
                width: 100%;
            }
        }

        .column-2 {
            width: $two;

            @include mq(m) {
                width: 100%;
            }
        }

        .column-3 {
            width: $three;

            @include mq(m) {
                width: 100%;
            }
        }

        .column-4 {
            width: $four;

            @include mq(m) {
                width: 100%;
            }
        }

        .column-5 {
            width: $five;

            @include mq(m) {
                width: 100%;
            }
        }

        .column-6 {
            width: $six;

            @include mq(m) {
                width: 100%;
            }
        }

        .column-7 {
            width: $seven;

            @include mq(m) {
                width: 100%;
            }
        }

        .column-8 {
            width: $eight;

            @include mq(m) {
                width: 100%;
            }
        }

        .column-9 {
            width: $nine;

            @include mq(m) {
                width: 100%;
            }
        }

        .column-10 {
            width: $ten;

            @include mq(m) {
                width: 100%;
            }
        }

        .column-11 {
            width: $eleven;

            @include mq(m) {
                width: 100%;
            }
        }

        .column-12 {
            width: $twelve;

            @include mq(m) {
                width: 100%;
            }
        }
    }
}

.grid {
    @include grid();
}

.row {
    @include grid($display: block, $maw: 80%)
}

.column-1,
%column-1 {
    width: calc(#{$one} - #{$gutter});
    margin: $gutter/2;
}

.column-2,
%column-2 {
    width: calc(#{$two} - #{$gutter});
    margin: $gutter/2;
}

.column-3,
%column-3 {
    width: calc(#{$three} - #{$gutter});
    margin: $gutter/2;
}

.column-4,
%column-4 {
    width: calc(#{$four} - #{$gutter});
    margin: $gutter/2;
}

.column-5,
%column-5 {
    width: calc(#{$five} - #{$gutter});
    margin: $gutter/2;
}

.column-6,
%column-6 {
    width: calc(#{$six} - #{$gutter});
    margin: $gutter/2;
}

.column-7,
%column-7 {
    width: calc(#{$seven} - #{$gutter});
    margin: $gutter/2;
}

.column-8,
%column-8 {
    width: calc(#{$eight} - #{$gutter});
    margin: $gutter/2;
}

.column-9,
%column-9 {
    width: calc(#{$nine} - #{$gutter});
    margin: $gutter/2;

    @include mq(m) {
        width: 100%;
    }
}

.column-10,
%column-10 {
    width: calc(#{$ten} - #{$gutter});
    margin: $gutter/2;
}

.column-11,
%column-11 {
    width: calc(#{$eleven} - #{$gutter});
    margin: $gutter/2;
}

.column-12,
%column-12 {
    width: calc(#{$twelve} - #{$gutter});
    margin: $gutter/2;
}
